<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<h1>SuperHero</h1>
<hr>

<a href="./InputHeroIdPage"> Search a SuperHero</a><br><br>
<a href="./showAllHeroes">Show All SuperHeroes</a><br><br>
<a href="./InputHeroDetails">Add New SuperHero</a><br><br>
<a href="./InputHeroIDPageForDelete">Delete SuperHero</a><br><br>
<a href="/InputHeroDetailsPageForUpdate">Update SuperHero </a>

</body>
</html>