<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<h1>Super Hero Location Management System</h1>
	<hr>
	<form action="#" th:action="@{./saveLocation}" th:object="${location}" method="post">
		Enter Location ID : <input type="text" th:field="*{locationId}"><br><br>
		Enter Location Name : <input type="text" th:field="*{locationName}"><br><br>
		Enter Location Description : <input type="text" th:field="*{locationDesc}"><br><br>
		Enter Location Address : <input type="text" th:field="*{locationAddress}"><br><br>
		Enter Location Coordinates : <input type="text" th:field="*{coordinates}"><br><br>
		
		<input type="submit" value="Save Location">
	</form>
</body>
</html>