<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>

<h1>Organisations</h1>
	<hr>
<form action="#" th:action="@{./deleteOrg}" th:object="${org}">
		Select organisation Id :
		<select th:field="*{orgId}">
			<option th:each="oId : ${orgIds}" th:value="${oId}" th:text="${oId}"></option>
		
		</select>
		 <br><br>
		<input type="submit" value="Delete Organisation">
		
	</form>
	
		<br><br>
	<a href = "/OrganisationIndex" > Go back to Organisation main page</a><br><br>


</body>
</html>