<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Super Powers</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">

</head>
<body>
<h1>Super Powers</h1>
<hr>

<hr>
<a href="./InputSuperPowerIdPage">Search Super Power By ID</a><br><br>
<a href="./showAllSuperPowers">Show All Super Powers</a><br><br>
<a href="./InputSuperPowerDetails">Add New Super Power</a><br><br>
<a href="./InputSuperPowerIdForDelete">Delete Super Power</a><br><br>
<a href="./InputSuperPowerDetailsPageForUpdate">Update Super Power</a><br><br>
</body>
</html>